.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;

  a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;

    &.logo {
      font-size: 25px;
      font-weight: bold;
    }
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }

  a.active {
    background-color: #98ca3f;
    color: white;
  }

  .header-right {
    float: right;
  }
}

/* Header Mobile */
@media screen and (max-width: 512px) {
  .header {

    a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-right {
      float: none;
    }
  }
}
